<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/main.css">

</head>


<body>
<nav>
    <ul>
        <li> <a href="/"> Home </a> </li>

    </ul>
</nav>

<div class="container">
    {{ content }}
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center"><a href="/">
                <img src="/docs/signature.png"></a></div>
        </div>
    </div>
    <ul>

        <li> <a href="https://github.com/DITEP">Github</a></li>

        <li> <a href="https://www.gustaveroussy.fr/"> Gustave Roussy Institute </a> </li>
    </ul>
</footer>

</body>
</html>